* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html {
  height: 100%;
}

/* Encabezado azul fijo */
.login-header {
  background-color: #2d7df6;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Logo fuera del header */
.logo {
  position: absolute;
  top: 150px; 
  right: 380px;
  z-index: 1001;
}

.logo img {
  max-width: 320px;
  height: 49px;
}

/* Contenedor principal */
.container-login {
  flex: 1;
  display: flex;
  margin-top: 50px; /* altura del header */
}

/* Sección izquierda - imagen */
.image-section {
  flex: 1;
  background: url("../public/imagenes/FotoLogin.jpg") no-repeat center center;
  background-size: cover;
  margin-top: -52px;
}

/* Sección derecha - formulario */
.form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-box {
  background: #fff;
  border: 2px solid #ff6600;
  border-radius: 18px;
  padding: 25px 35px;
  width: 370px;
  box-shadow: 0px 25px 0px #ff6600;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 24px;
  color: #000;
}

.form-box label {
  display: block;
  margin: 8px 0 4px;
  font-size: 14px;
}

.form-box input {
  width: 100%;
  padding: 8px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn-submit {
  display: block;
  width: 50%;
  margin: 15px auto 0;
  padding: 10px;
  background-color: #2d7df6;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.btn-submit:hover {
  background-color: #1b4fbf;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.forgot-password a {
  color: #2770df;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .container-login {
    flex-direction: column;
    margin-top: 50px;
  }

  .image-section {
    height: 200px;
    order: 1;
  }

  .form-section {
    order: 2;
  }

  .logo {
    top: 55px;
    left: 10px;
  }

  .logo img {
    max-width: 80px;
  }
}
